#florence,#buenosaires,#tbilisi,#neworleans  {
  width: 400px;
  border:3px; border-style: solid;
border-color:grey;
padding: 1em;
border-radius: 50px;
font-family: "Poppins", sans-serif;
text-align: center;
align-items: center;
}
header {
border-color:grey;
margin-top: 100px;
font-size: 2em;
font-family: "Poppins", sans-serif;
border-radius: 30px;
  margin-left: 450px;

}

body {
  background-color: khaki;
}
#navbaroptions {
  transform: translatex(-50%)
  font-family: fantasy;
  text-shadow: 2px 2px #ff0000;
}

.nav-item {
  padding: 20px;
}


#neworleans {
  margin-left: 450px;
  margin-top: 80px;
  margin-right: 45px;
  margin-bottom: -5px;
  color: white;
  background-image: url("../images/new-orleans.jpg");
  -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
  animation: myfirst 10s ;
}

@-webkit-keyframes myfirst {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

#tbilisi {
  margin-left: 450px;
  color: white;
  margin-top: 80px;
  margin-right: 45px;
  margin-bottom: -5px;
  background-image: url("../images/tbilisi.jpg");
  -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
  animation: myfirst 10s ;
}
#buenosaires {
  margin-left: 450px;
  margin-top: 80px;
  margin-right: 45px;
  margin-bottom: -5px;
  color: white;
  -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
  animation: myfirst 10s ;
  background-image: url("../images/buenos-aires.jpg");
}
#florence {
  margin-left: 450px;
  margin-top: 80px;
  margin-right: 45px;
  margin-bottom: -5px;
  color: white;
  text-decoration:none;
  -webkit-animation: myfirst 5s ; /* Chrome, Safari, Opera */
  animation: myfirst 10s ;
  background-image: url("../images/florence.jpg");
}
