body {
  padding-top: 5rem;
  background-color: khaki;
  font-family: "Poppins", sans-serif
  text-shadow: 2px 2px #ff0000

}


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;

}

#carouselExampleSlidesOnly {
  width: 510px;
  margin: auto;
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  padding: 0.5rem;
  outline-offset: 0.5rem;
  align-items: center;
}

#navbarsExampleDefault {
  position: absolute;
    left: 50%;
    transform: translatex(-50%)
    font-family: fantasy;
    text-shadow: 2px 2px #ff0000;
}
#navbaroptions {
  transform: translatex(-50%)
  font-family: fantasy;
  text-shadow: 2px 2px #ff0000;
}

.nav-item {
  padding: 20px;
}


#maintext  {

font-family: "Poppins", sans-serif
text-shadow: 0px 0px;



}

ul {
  font-family: "Poppins", sans-serif
  text-shadow: 0px 0px;
}

h1 {
  text-align: center;
  color: skyblue;
  font-family: fantasy;
  text-shadow: 2px 2px #ff0000;
  padding: 2rem;
}
h2 {
  text-align: center;
  color: skyblue;
  font-family: fantasy;
  text-shadow: 2px 2px #ff0000;
}
